@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Google Sans Code", sans-serif;
  --font-mono: "Fira Code", monospace;
}

.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  content: none;
}

.prose :not(pre) > code {
  background-color: var(--color-gray-100);
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.dark .prose :not(pre) > code {
  background-color: var(--color-gray-800);
}
